.intro {
  text-align: center;
}
/* body {
   text-align: center;
 }
 */

.intro img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.intro h2 {
  font-style: italic;
}

.intro p {
  width: 800px;
  margin: 0px auto;
}
